*.class

# IntelliJ project files
.idea
*.iml
out
gen
.mvn
mvnw*
META-INF/
logs/

# Eclipse files
.classpath
.project

# Emacs backup files
*~

# Package Files #
*.jar
*.war
*.ear

# Maven build dir
target
